#cont {
    // display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
}

#innerCont {
    display: flex;
}

.bar {
    display: inline-block;
    // background-color: rgb(240, 67, 15);
    margin: 1px;
    color: white;
    
    // text-align: center;
}