@import '@angular/material/prebuilt-themes/indigo-pink.css';
//@import '../node_modules/bootstrap/dist/css/bootstrap.min';
@import '~bootstrap/dist/css/bootstrap.min';

body {
    margin: 0px;
    background-color: rgb(239, 241, 245);
}
.info{
    text-align: center;
    color: yellowgreen;
    bottom: 0;
    position: absolute;

}
/* .cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 20%;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
