.main-header {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;

    bottom: 0;              
    position: absolute;        

    @media (max-width:480px) {
        height: 175px;
    }
}

.row {
    margin: 0 !important;
}

.topElement {
    margin: auto;
}

label {
    vertical-align: super;
}

.border {
    background-color: #ffffff;
    width: 5px;
}

.algoButton {
    margin: 0px 15px;
    color: rgb(12, 91, 196);
    background-color: rgb(185, 216, 245);
    background: none;
    //color: #ccc;
    //width: 240px;
    //height: 80px;
    //border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;



    @media (max-width:480px) {
        margin: 0;
    }
}

.algoButton:focus {
    color: rgb(217, 194, 255);
    outline: none;
    background-color: rgb(109, 13, 153);
}
button:before {
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
    //color: white;
}
button:after {
    background: rgba(255, 255, 255, 0.445);
    //width: 30px;
    //height: 100%;
    //left: 30px;
    //top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
    //color: white;
}
button:hover {
    background: #8284f3;
    cursor: pointer;
 }
button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}
button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
   }
button:not([disabled]):hover {
    color: rgb(0, 0, 0);
}
